<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <title>Deloitte Blockchain Case Comp</title>
  </head>
  <body class="body">
    <div class="jumbotron">
      <div class="container">
        <h1>Node Manager</h1>

        <h4 class="pt-3">View chain</h4>
        <form method="POST" action="/update">
          <div class="form-group">
            <div class="input-group">
              <select class="custom-select" type="text" name="url">
                {% for node in nodes %}
                  {% if node == selectedNode %}
                    <option selected>{{ node }}</option>
                  {% else %}
                    <option>{{ node }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" value="submit">Update</button>
              </div>  
            </div>
          </div>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>Sender</th>
              <th>Recipient</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
          {% for block in chain %}
            {% for transaction in block.transactions %}              
              <tr>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.amount }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>

        <h4 class="pt-3">Add new transaction <small>for {{selectedNode}}</small></h4>
        <form method="POST" action="/addTransaction">
          <div class="form-group">
            <label>Sender</label>
            <input class="form-control" type="text" name="sender">
            <label>Recipient</label>
            <input class="form-control" type="text" name="recipient">
            <label>Amount</label>
            <input class="form-control" type="text" name="amount">
          </div>
          <button class="btn btn-primary" type="submit" value="submit">Add</button>
        </form>
        <p>{{ transactionResponse.message }}</p>

        <h4 class="pt-3">Mine block <small>for {{selectedNode}}</small></h4>
        <p>Mining the block will append all pending transactions to a new block, connecting it to the blockchain</p>
        <form method="GET" action="/mineBlock">
          <button class="btn btn-primary" type="submit" value="submit">Mine</button>
        </form>
        <p>{{ mineBlockResponse.message }}</p>

        <h4 class="pt-3">Resolve <small>for {{selectedNode}}</small></h4>
        <p>Resolve checks all blockchains from peers</p>
        <form method="GET" action="/resolve">
          <button class="btn btn-primary" type="submit" value="submit">Resolve</button>
        </form>
        <p>{{ resolveResponse.message }}</p>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>